@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body{
    background-color: #DCF0F7;
    font-family: 'chewy', Courier, monospace;
    color: #5F6B61;
}

header{
    font-size: x-large;
    text-align: center;
}

footer, section{
    text-align: center;
}

#bigSec{
    border: 7px solid #0C2C52;
    border-radius: 25px;
    padding: 20px;
    width: auto;
}

#midSec{
    border: 3px solid #5F6B61;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    padding: 5px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

#prompt{
    margin-top: 1px;
    margin-bottom: 1px;
    grid-column: 1/3;
    grid-row: 1/2;
}

input{
    width: 200px;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

button{
    width: 200px;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.boxes{
    border: 1px solid blue;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 60px;
    margin: -2px;
}

.boxes:hover{
    cursor: default; 
}